version: "3.8"

services:
  db:
    image: mysql:8
    container_name: user_profile_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_profile_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: user_profile_backend
    restart: always
    ports:
      - "5001:5000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/usr/src/app/migrations


volumes:
  db_data:
